<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>778075272293-5e7nib1vj7b6dpuufdn41rhdpb04t290.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.778075272293-5e7nib1vj7b6dpuufdn41rhdpb04t290</string>
	<key>API_KEY</key>
	<string>AIzaSyCy9HMSWDBbk5WP1cJkFzldR23F8CClCXE</string>
	<key>GCM_SENDER_ID</key>
	<string>778075272293</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crashlyticsrec</string>
	<key>PROJECT_ID</key>
	<string>trial-8250d</string>
	<key>STORAGE_BUCKET</key>
	<string>trial-8250d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:778075272293:ios:9e98b12ecf8b012bab828c</string>
</dict>
</plist>